@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*, *:after, *:before {
box-sizing: border-box;
font-family: arial;
}

body {
margin: 0;
background: #009578;
}

#app {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
padding: 24px;
gap: 24px;
}

.note {
height: 200px;
padding: 16px;
border: none;
border-radius: 10px;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
resize: none;
font-size: 16px;
}

.delete {
display: none;
position: absolute;
bottom: 3%;
right: 3%;
height: 20px;
padding: 4px;
background-color: red;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
z-index: 10;
font-size: 12px;
}

.add-note {
height: 200px;
border: none;
outline: none;
background: rgba(0, 0, 0, 0.1);
border-radius: 10px;
font-size: 120px;
color: rgba(0, 0, 0, 0.5);
cursor: pointer;
transition: background 0.2s;
}

.note-wrapper {
position: relative;
display: block;
transition: all 2s linear;
}

.note-wrapper:hover .delete {
display: block;
}

textarea {
width: 100%;
}

.add-note:hover {
background: rgba(0, 0, 0, 0.2);
text-decoration: none;
}

button {
font-family: 'Days One', sans-serif;
font-weight: 500;
font-size: 30px;
color: white;
text-decoration: none;
}

header {
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
padding: 30px;
background-color: #03755F;
width: 100%;
}

.logo {
font-family: "Montserrat Subrayada", sans-serif;
font-size: 30px;
cursor: pointer;
grid-column: 2;
text-align: center;
}

.logbtn {
background-color: hsl(var(--hue, 216), var(--saturation, 75%), var(--lightness, 35%));
padding: 16px 20px;
width: 30%;
margin-bottom: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
margin-left: auto;
grid-column: 3;
}

button:hover {
filter: brightness(110%);
text-decoration: underline 3px;
}

.delete:hover {
text-decoration: none;
}

.hide {
display: none;
}

#signup {
background: rgb(13, 104, 232);
}

#signin {
background: rgb(49, 46, 77);
}

.form-popup {
    display: flex;
    top: 0;
    right: 0;
    max-width: 500px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    color: white;
  }
  
  #myDialog {
    border: none;
    padding: 0;
  }
  
  #myDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .form-container {
    padding: 10px;
    background-color: white;  
  }
  
  .form-popup input[type="email"],
  .form-popup input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 12px 0;
    background: #f1f1f1;
    border: none;
    outline: none;
  }
  
  .form-popup input[type="email"]:focus,
  .form-popup input[type="password"]:focus {
    background-color: #ddd;
  }
  
  .form-popup .btn {
    padding: 16px 20px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(158, 95%, 32%);
  }
  
  .form-container .cancel {
    background-color: hsl(0, 95%, 45%);
  }
  
  .form-popup .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
  
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .trigger {
    position: flex;
    background-color: transparent;
    border: none;
    font-size: medium;
    border: none;
    border-radius: 5px;
  }

